extends layout

block content    
    form(action="/createPost?postNumber=" + data.postNumber, method="post")
        p 제목
        input(type="text", name="title", value= data.title required)
        p 내용
        textarea(name="content", cols="30", rows="10" required)= data.content
        br
        input(type="submit", value="등록")
        input(type="button", value="취소", onclick="location.href='javascript:history.back()'")