extends layout

block content
  each val in boards
    - var baseURL = val.baseURL
    - var boardName = val.boardName
    a(href="/" + baseURL) #{boardName} 게시팟 
    span.text-danger #{val.newPost}
    br
  span.text-danger(style='font-size:12px') * 빨간 숫자는 오늘 올라온 게시글 수입니닷!
  hr
  each val, index in boards
    - var best = val.best
    - var baseURL = val.baseURL
    - var boardName = val.boardName
    .col-md
      a(href="/" + baseURL)
        span.h4 #{boardName} 
        |게시
        span.h4 팟
      include bestPost.pug
  script(src="/javascripts/board.js")
  script(src="/javascripts/pullToRefresh.js")