extends layout

block content
  h1 로그인
  if (err)
    p 로그인 실패!
  form(action="/login",method="post")
    div(class="form-group")
      input.text-lowercase(type='text', name="username", placeholder='아이디' required class="form-control")
    div(class="form-group")
      input(type='password', name="password", placeholder='비밀번호' required class="form-control")
    button(type='submit' class="btn btn-primary") 로그인
    a(href='/')
      button(type="button" class="btn btn-danger" style="float: right;") 취소