extends layout

block content
  .container
    h1 로그인
    br
    form(onkeypress="return event.keyCode != 13;" action="/login",method="post", style='max-width: 300px;')
      input(type='text', name="username", placeholder='아이디')
      p
      input(type='password', name="password", placeholder='비밀번호')
      p
      button(type='submit') 로그인
      a(href='/')
        button(type="button") 취소