extends layout

block content
    h1 제목
    p= data.title
    h2 내용
    p= data.content
    h5 등록시간 : #{moment(data.createTime).format("YYYY-MM-DD HH:mm:ss")}
    button(type="button", onclick="location.href='/updatePost?postNumber=" + data.postNumber + "'") 수정
    button(type="button", onclick="location.href='/deletePost?postNumber=" + data.postNumber + "'") 삭제
    button(type="button", onclick="location.href='/'") 목록